/* Adicione este CSS ao seu arquivo Cart.css */
.Cart {
  background-color: #f2f2f2;
  padding: 20px;
  width: 300px; /* Ajuste o tamanho conforme necessário */
}

/* Adicione uma media query para tornar o carrinho responsivo em telas estreitas */
@media (max-width: 768px) {
  .Cart {
    width: 100%;
  }
}
