/* Default styles */
.search-bar {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.inputSearch {
  flex: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  width: 200px;
  margin-top: 100px;
}

.buttonSearch {
  background: #51606a;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 210px;
  margin-top: 60px;
  cursor: pointer;
  color: #fff;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .inputSearch {
    margin-top: 10px;
    max-width: 100%;
  }

  .buttonSearch {
    margin-top: 10px;
    max-width: 100%;
  }
}
