/* Search.css */

.search-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha em telas menores */
}

.inputSearch {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  flex-grow: 1; /* Ocupa todo o espaço disponível */
  margin-bottom: 10px; /* Adicionado um espaço inferior */
}

.buttonSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  background-color: #eaeaea;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Ajuste a margem esquerda para separar o botão */
  margin-bottom: 10px;
  margin-right: 10px;
}

.buttonSearch:hover {
  background-color: #d1d1d1;
}

/* Adicione uma media query para ajustar o layout em telas menores */
@media (max-width: 768px) {
  .inputSearch {
    width: 100%; /* 100% de largura em telas menores */
    margin-right: 0; /* Remova a margem direita */
  }

  .buttonSearch {
    margin-left: 0; /* Remova a margem esquerda */
    margin-top: 10px; /* Adicione uma margem superior */
  }
}
