/* Adicione este CSS ao seu arquivo Navbar.css */
.Navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}

/* Adicione uma media query para tornar a barra de navegação responsiva em telas estreitas */
@media (max-width: 768px) {
  .Navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .links {
    flex-direction: column;
  }

  .links a {
    margin-bottom: 10px;
  }
}
