.cart-item {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.cart-item-image {
  width: 70px;
}

.cart-item-content {
  flex-grow: 1; /* Use flex-grow para preencher o espaço disponível */
  padding: 0 15px; /* Reduzi o padding para economizar espaço */
}

.cart-item-title {
  font-size: 0.85rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
}

.cart-item-price {
  font-size: 16px; /* Reduzi o tamanho da fonte para economizar espaço */
  font-weight: 500;
}

.remove-item {
  position: absolute;
  top: 0;
  right: 0;
  color: #b732d8;
  font-size: 1.4rem;
  border: none;
  background: none;
  cursor: pointer;
}

/* Adicione uma media query para ajustar o tamanho da fonte em telas menores */
@media (max-width: 768px) {
  .cart-item-title {
    font-size: 0.7rem; /* Reduzi ainda mais o tamanho da fonte */
  }

  .cart-item-price {
    font-size: 14px; /* Reduzi o tamanho da fonte para economizar espaço */
  }
}
