/* Shop.css */

.shop {
  display: flex;
  flex-direction: column;
  position:fixed;
  background-color: #7849a6;
  color: #fff;
  text-align: center;
  border-radius: 10%;
  padding: 20px;
  margin-left: 39%;
  top: 10%;
}

.shopTitle {
  background: none;
  position: relative;
  font-size: 36px;
  margin: 20px 0;
}

.shopTitle h1 {
  position: relative;
  background: none;
  margin: 0;
}

.shopTitle a {
  position: relative;
  background: none;
  text-decoration: none;
}

.shopTitle button {
  background: none;
  position: relative;
  background-color: #2d3347;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para dispositivos menores (por exemplo, smartphones) */
@media (max-width: 768px) {
  .shopTitle {
    font-size: 28px;
  }

  .shopTitle button {
    padding: 8px 16px;
    margin: 8px;
  }
}
